<div class="background-image"></div>
<img src="<%= url('/public/images/Modal.jpg') %>">

<section>
  <img src="#">
  <h2>Aubri French</h2>
  <a href="mailto:aubrifrench@gmail.com">aubrifrench@gmail.com</a>
  <p>987 Main St.</p>
  <p>San Diego, CA 92110</p>
  <p>(858) 431-9559</p>
</section>

<section>
 <div class="active">
  Wishlists
  <span class="triangle-thingie">
 </div>

 <div>
  Orders
 </div>
</section>

<section>
 <div>
  <img src="#">
  <p>Jacob's Birthday List 2018</p>
 </div>

 <div class="active">
  <img src="#">
  <p>Wedding Registry</p>
  <span class="triangle-thingie">
 </div>

 <div>
  <img src="#">
  <p>New Wishlist</p>
 </div>
</section>

